body{
    background: url('https://images.unsplash.com/photo-1521453510357-5c7a77db7074?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80') no-repeat center center / cover ;
    height: 100vh;
    color: #777;
    overflow: hidden;
    size: 100vh;
}